    body {
        margin: 0 auto;
        background-color: black;
    }

    h1 {
        color: white;
        text-align: center;
    }

    h3 {
        color: white;
    }

    h4 {
        color: white;
        text-align: center;
        margin-bottom: 15vh;
    }

    .post {
        padding-top: 3vh;
        text-align: center;
        background-color: #2C2C2C;
        height: 35vh;
        width: 100vw;
    }

    .post_bar {
        width: 350px;
    }

    .form {
        position: absolute;
        text-align: center;
        left: 50vw;
        top: 45vh;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        background-color: transparent;
        border: 0px;
        font-weight: bolder;
        font-size: larger;
    }

    .create_button {
        margin-top: 2.5vh;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        color: black;
        background-color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 0.5vh 4vh;
        border-radius: 25px;
        transition: .2s;
        box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.5);
    }

    .create_button:hover {
        background-color: #FFE800;
        color: black;
    }

    .answer_container {
        background: -moz-linear-gradient(top, #FFE800, #FFD402);
        background: -webkit-linear-gradient(top, #FFE800, #FFD402);
        background: linear-gradient(to bottom, #FFE800, #FFD402);
        /* background-color: orange; */
        width: 350px;
        height: 200px;
        margin: 0 auto;
        border-radius: 10px;
        /*グラデーション以外は省略*/
        text-align: center;
    }

    .answer_container_text {
        font-size: 25px;
        color: black;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        text-align: center;
        width: 100%;
        padding: 44px 0;
    }

    /* ボトムタブ */

    .buttom_tab {
        margin-top: 0;
        position: fixed;
        width: 100%;
        height: 10vh;
        background-color: #2C2C2C;
        bottom: 0;
        border-top-color: black;
        border-width: 1px;
        align-items: center;
        display: flex;
    }

    /* 友達のお題ボタン */

    .buttom_tab_firend_post {
        margin: 0 auto;
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: 10vw;
        text-align: center;
    }

    /* 友達のお題ボタンのアイコン */

    .friend_post_icon {
        color: white;
        font-size: 3vh;
    }

    /* お題を作るボタン */

    .buttom_tab_button {
        margin: 0 auto;
        width: auto;
        height: auto;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 5vh;
        text-align: center;
        text-decoration: none;
    }

    /* お題を作るボタンのアイコン */

    .add_post_icon {
        height: 60px;
        width: 60px;
    }

    /* アカウントボタン */

    .buttom_tab_account {
        margin: 0 auto;
        width: auto;
        height: auto;
        margin-left: 10vw;
        text-align: center;
    }

    /* アカウントボタンのアイコン */

    .account_icon {
        color: white;
        font-size: 3vh;
    }

    /* アイコンのテキスト */

    .buttom_tab_text {
        font-size: 1vh;
        width: 6vw;
        text-decoration: none;
        color: white;
    }

    .buttom_tab_text:hover {
        text-decoration: underline;
    }